*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    background-color: steelblue;
    padding: 10px;
}

nav a{
    color: white;
    display: block;
    padding: 20px;
}
h1  {
    color: steelblue;
    text-align: center;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}
p {
    padding: 0;
    text-align: center;
}
aside {
    width: 20em;
    text-align: center;
    position: relative;


}

aside h2{
    position: absolute;
    left: 185px;
    top: 15px;
}

aside img{
    width: 200px;
    height: auto;
}

footer{
    margin: 10px;
    border-top: 1px dotted black;
    text-align: center;
}

/* class selectors */

.box{
    margin: 1rem;
    border: 1px black;
    padding: 1rem;
    color: #006D77;
    background-color: #FFDDD2;
}